body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .nav-tabs .nav-item {
        margin-right: 15px;
    }

    .nav-tabs .nav-link {
        font-size: 1.1rem;
        font-weight: bold;
        color: #007bff;
        border: none;
        border-radius: 10px;
        transition: background-color 0.3s;
    }

        .nav-tabs .nav-link:hover,
        .nav-tabs .nav-link.active {
            background-color: #007bff;
            color: white;
        }

.tab-content {
    margin-top: 40px;
}

.tab-pane {
    font-size: 1.2rem;
    line-height: 1.8;
    padding: 20px;
}

    .tab-pane img {
        max-width: 100%;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }

        .tab-pane img:hover {
            transform: scale(1.05);
        }

.text-center {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #666;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

    .gallery-image:hover {
        transform: scale(1.1);
    }

.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}


.modal-dialog .modal-body img {
    max-width: 90%;
    max-height: 80vh;
    object-fit: contain; 
}

.modal-lg {
    max-width: 90%; 
}

